/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 1px;
    padding:1px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */

@font-face    {
    font-family: "jp-font";
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

.html {
    font-family:"jp-font" ;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1.5em ;
    border-bottom: 1px solid darkslategray ;
}

.nav-logo img  {
    max-height: 40px;
}

.nav {
    display: flex;
}

.nav-items {
    padding: 2px 1em;
    border: 0.5px solid black;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-items:hover {
    background: rgb(27, 191, 246);
    color: white;
}

.greetings {
    padding-top: 2em;
    padding-left: 3.7em;
}

.banner{
    border-bottom: 1px solid black;
    background-image: url('../assets/image/JP-Background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1366px; */
    height: 500px;
}

.headquarters{
    padding: 3em;

}

.circle{
    /* display: flex; */
    height: 150px;
    width: 150px;
    border: 0px solid black;
    border-radius: 50%;
}

.hq-items{
    display: flex;
    padding: 1em 2em;
    justify-content: space-around;
}

#contact-us {
    display: flex;
    background-color: rgba(239, 239, 251, 0.901);
    justify-content: space-around;
    align-items: start;
    padding: 0em 1.5em;
    border-bottom: 1px solid darkslategray;
}

 #right-box {
     /* justify-content: flex-end; */
     align-content:flex-end;
     width: 550px;
     border: 1px solid grey;
 }

 textarea {
    resize: none;
 }

.footer-text {
    color: grey;
    font-size: small;

}
